.conteneurfooter1 {display:flex; flex-direction: row;align-items: center; position: relative;
    .wbicon{width: 2%;height: 15%; position: absolute;left: 21%;}
    .textfoot{font-size: 12px;font-family: 'space-grotesk';padding-left: 15%;}}
    .organisateur{align-items: center;}
    .sayna{margin-left: 40%;}
    .dc{margin-right: 5%;}
    .tw, .ig,.fb,.x {margin: 1%;}


