
html {box-sizing: border-box;
font-size: 100%;padding-left: 5%;padding-right: 5%;}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
    background: url(/illustrations/Illustrations1/Bathome1.png);
    background-repeat: no-repeat;
    background-color: #000;
    background-size: contain;
    border: 1px solid var( --gredient-white);
      
}



:root{
    --yellow-color:#FFFF00;
    --yellow-light:#f8f184;
    --blue-color:#19587dfe;
    --white-color:#fff;
    --gredient-white: #eddebf75;
    --gredient-red: #89000977;
    --black-color:#000;
  }
  
  @font-face {
   
    font-family: 'space-grotesk';
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
    
  }

  @font-face {
    font-family: 'rajdhani-medium';
    src: url(../fonts/Rajdhani-Medium.ttf);
  }

  p{font-family: 'space-grotesk';font-size: 18px;text-align: justify;margin: 5% 10% 5% 10%;}
  h2{font-family:'rajdhani-medium' ;font-size: 32px;margin: 2% 10%;}
    

 