.conteneurquiz{display:flex;margin-bottom: 10%;}
 .conteneurcompte{display: flex;flex-direction: row;margin:10% 50%; }
 .miniconteneurquiz{display: flex;flex-direction: column;width:  61%;}
 .imagequiz{padding-left: 15%;}
.question{padding-left: 0%;}
.conteneurrep{padding-right: 20%;}
 .conteneurrep1,.conteneurrep2, .conteneurrep3 {display: flex;flex-direction: row;
     background-color: gray; margin-bottom: 5%;font-size: 22px;
    padding: 2% 0%; .rep1, .rep2, .rep3{ padding-left: 5%;font-family: 'rajdhani-medium';}}
.nextquestion{text-decoration: none;color:white; margin: 20% 0 0% 40% ;
    background: linear-gradient(80deg,rgba(156, 154, 154, 0.658) ,rgba(239, 138, 5, 0.493));
    padding: 1.7% 7.5%;font-family: 'rajdhani-medium';font-size: 18px;}    