.scroll{
    display: flex ;
    flex-direction: column;
    align-items: center;
    position: fixed; right: 0%;top: 30%;
    a{padding-top: 25%;}
    img{width: 80%;}
    .socialm{width: 25%;margin-right: 17%;
    img{padding-bottom: 50%;padding-top: 50%;}}
    }
    
    