.guillemetg{ padding-left: 10%;}
p{color: white;}

.guillemetg{width: 7%;margin: 2% 0% 0 7% ;}
.citation{font-family: 'space-grotesk';text-align: center;}
.authorcit{ font-size: 12px;font-family: 'space-grotesk';text-align: center;}
.guillemetd{width: 7%;margin:10% ;margin: 2% 2% 0 70% ;}



/*
.guillemetgauche{
  margin: 0 0;
}

.guillemetgauche img{
  width: 5%;margin:  10% 0 0% 10%;
}

.citation{
  font-size: 15px;text-align: center;
}

.auteurcitation{
  font-size: 10px;text-align: center;
}

.guillemetdroite img{
  width: 5%;margin:  0% 0% 0% 85%;
} */