.flechegame{margin: 50%  50% 5% 50%;}
.connaissezvous{text-align: center;margin-left: 15%;}
.picsec2{margin: 0 0% 0% 10%}
.demarrezquiz{text-decoration: none;color:white; margin: 5% 0 0% 40% ;
    background: linear-gradient(80deg,rgba(156, 154, 154, 0.658) ,rgba(239, 138, 5, 0.493));
    padding: 1.7% 7.5%;font-family: 'rajdhani-medium';font-size: 18px;}