.sec4 {padding-top: 20%;position: relative; 
    .conteneur{display: flex;flex-direction: row; padding-left: 10%;}
   
    img{width: 80%;}
    #deco2{width: 35%;position: absolute;right: -5%;top: 05%;}
}