.sec1{
    p{
        text-align: center;margin: 20% 26% 0% 30%;}
    h1{text-align: center;} 
    div{margin-top: 05%;text-align: center;padding-bottom: 15%; } 
    a{margin-left: 5%;text-decoration: none;color: white ;
        background: linear-gradient(80deg,rgba(255, 255, 255, 0.466),rgba(255, 0, 0, 0.46));
        padding: 1.5% 3.5%; opacity: 70%;}
    .flechedown{margin:0% 50% 0 50%; }    
    }             
