html {
  box-sizing: border-box;
  font-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  background: url(/illustrations/Illustrations1/Bathome1.png);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: contain;
  border: 1px solid var(--gredient-white);
}

:root {
  --yellow-color:#FFFF00;
  --yellow-light:#f8f184;
  --blue-color:#19587dfe;
  --white-color:#fff;
  --gredient-white: #eddebf75;
  --gredient-red: #89000977;
  --black-color:#000;
}

@font-face {
  font-family: "space-grotesk";
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
@font-face {
  font-family: "rajdhani-medium";
  src: url(../fonts/Rajdhani-Medium.ttf);
}
p {
  font-family: "space-grotesk";
  font-size: 18px;
  text-align: justify;
  margin: 5% 10% 5% 10%;
}

h2 {
  font-family: "rajdhani-medium";
  font-size: 32px;
  margin: 2% 10%;
}

/*#game{padding-left:10%;}
#home{padding-left:40%;padding-right: 10%;}*/
header {
  margin-top: 5%;
  margin-bottom: 5%;
}
header a {
  text-decoration: none;
  color: white;
  font-family: "space-grotesk";
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}
header img {
  margin-left: 10%;
}
header #home {
  margin-left: 50%;
}
header #game {
  margin-left: 5%;
}

.sec1 p {
  text-align: center;
  margin: 20% 26% 0% 30%;
}
.sec1 h1 {
  text-align: center;
}
.sec1 div {
  margin-top: 5%;
  text-align: center;
  padding-bottom: 15%;
}
.sec1 a {
  margin-left: 5%;
  text-decoration: none;
  color: white;
  background: linear-gradient(80deg, rgba(255, 255, 255, 0.466), rgba(255, 0, 0, 0.46));
  padding: 1.5% 3.5%;
  opacity: 70%;
}
.sec1 .flechedown {
  margin: 0% 50% 0 50%;
}

.sec2 {
  margin-top: 15%;
}
.sec2 .conteneur1 {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}
.sec2 img {
  width: 80%;
}

.sec3 {
  position: relative;
  padding-top: 5%;
}
.sec3 .conteneur {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}
.sec3 img {
  width: 80%;
}
.sec3 #deco1 {
  width: 12%;
  position: absolute;
  top: 0%;
  left: 14%;
}

.sec4 {
  padding-top: 20%;
  position: relative;
}
.sec4 .conteneur {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}
.sec4 img {
  width: 80%;
}
.sec4 #deco2 {
  width: 35%;
  position: absolute;
  right: -5%;
  top: 5%;
}

.sec5 img {
  width: 130%;
  margin-left: -15%;
  margin-right: 0%;
}

.sec6 .conteneur {
  display: flex;
  flex-direction: row;
  margin: 10% 5%;
}
.sec6 .text {
  background: linear-gradient(90deg, var(--gredient-white), var(--blue-color));
  color: white;
  font-size: 12px;
  font-family: "space-grotesk";
  margin-right: 10%;
  padding: 2% 2%;
  text-align: justify;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.sec6 h4 {
  color: white;
  font-size: 12px;
  font-family: "space-grotesk";
}
.sec6 span {
  color: yellow;
}
.sec6 .fleche {
  height: 50%;
  padding-top: 12%;
}
.sec6 .bathomeimg {
  margin-left: 10%;
}
.sec6 .bandeannonce {
  width: 90%;
  margin: 5%;
}

.sec7 {
  background: linear-gradient(50deg, var(--gredient-white), var(--blue-color));
  margin: 0 -16%;
  padding: 5% 20%;
}
.sec7 h2 {
  margin: 10% 30%;
}
.sec7 h3 {
  font-family: "space-grotesk";
}
.sec7 #mail, .sec7 #msg {
  background-color: transparent;
  color: white;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom-color: white;
  width: 80%;
  height: 35px;
}
.sec7 #choix {
  font-size: 16px;
  margin-bottom: 0%;
}
.sec7 .mini-conteneur {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid white;
  width: 80%;
}
.sec7 .triangle {
  width: 3%;
  height: 3%;
  transform: rotate(90deg);
  padding-top: 10%;
}

#confirmer {
  background: linear-gradient(80deg, rgba(237, 222, 191, 0.3411764706), rgba(137, 0, 9, 0.662745098));
  padding: 1% 5%;
  margin-left: 30%;
  margin-bottom: 5%;
  cursor: pointer;
}

#btn-film, #btn-comics, #btn-tout {
  background-color: transparent;
  color: white;
  padding: 1% 3%;
  border-bottom: 2px solid rgb(43, 68, 94);
  cursor: pointer;
  border-top-color: var(--gredient-white);
  border-right-color: var(--blue-color);
}

.conteneurbtn {
  display: flex;
  gap: 1rem;
  margin-left: 20%;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0.5%;
  top: 30%;
}
.scroll a {
  padding-top: 25%;
}
.scroll img {
  width: 90%;
}/*# sourceMappingURL=styles.css.map */